<!DOCTYPE html>
<html>
<head>
    <title>Insert links</title>
</head>
<body>
<h4>You are trying to access link behind placeholder {{ result }}</h4>
{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.password) }}
    <input type="submit" value="Submit">
{{ form_end(form) }}

<p><a href="{{ path('main') }}">Back to main page.</a></p>


</body>
</html>